body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #544837;
}

.header-elements {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 78px;
}
.header-element-nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  min-width: 350px;
  width: 100%;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #2f281e;
  transform: translateX(150px);
}
.button_sign-in {
  width: 102px;
  height: 46px;
  text-align: center;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173a56;
  background-color: white;
  border: 1px solid #bcd0e5;
}
.button_sign-up {
  width: 102px;
  height: 46px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ff9900;
  border: 1px solid #ff9900;
}

.selection-1 {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1126px;
  margin: auto;
  width: 100%;
  min-height: 496px;
  margin: auto;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2f281e;
}
.selection-1_text {
  width: 458;
  height: 95px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #544837;
}
.selection-1_button {
  width: 175px;
  height: 53px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ff9900;
  border: 1px solid #ff9900;
  margin-right: 30px;
}
.section-1_video {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ff9900;
}
.selection-2 {
  display: flex;
  margin: auto;
  justify-content: center;
  position: relative;
  max-width: 1100px;
  margin: auto;
  width: 100%;
  min-height: 574px;
  flex-direction: column;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  max-width: 539px;
  height: 108px;
  color: #2f281e;
  display: flex;
  justify-content: center;
  align-self: center;
}
.selection-2_content {
  display: flex;
  position: relative;
  max-width: 1100px;
  justify-content: space-around;
  flex-direction: row;
}
.selection-2_element {
  width: 240px;
  justify-content: space-between;
}
.selection-2_button {
  display: flex;
  justify-content: center;
}
.selection-3 {
  display: flex;
  justify-content: space-around;
  position: relative;
  max-width: 1100px;
  margin: auto;
  width: 100%;
  min-height: 574px;
}
.selection-4 {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: auto;
  max-width: 1121px;
  width: 100%;
  min-height: 521px;
}
.selection-4_text_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 486px;
  width: 100%;
  min-height: 427px;
}
.selection-5 {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: auto;
  max-width: 1110px;
  width: 100%;
  min-height: 609px;
}
.selection-5_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.selection-5_image {
  display: flex;
}
.footer_elements {
  display: flex;
  justify-content: space-around;
}
.footer-element_list {
  display: flex;
  flex-direction: row;
}
.footer-element_sign {
}
