.header-elements {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 78px;
}
.header-element-nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.selection-1 {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1126px;
  margin: auto;
  width: 100%;
  min-height: 496px;
  margin: auto;
}
.selection-2 {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1100px;
  margin: auto;
  width: 100%;
  min-height: 574px;
  flex-direction: column;
}
.selection-2_content {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}
h3 {
  display: flex;
  justify-content: center;
}
.selection-2_button {
  display: flex;
  justify-content: center;
}
.selection-3 {
  display: flex;
  justify-content: space-around;
  position: relative;
  max-width: 1100px;
  margin: auto;
  width: 100%;
  min-height: 574px;
}
.selection-4 {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: auto;
  max-width: 1121px;
  width: 100%;
  min-height: 521px;
}
.selection-4_text_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 486px;
  width: 100%;
  min-height: 427px;
}
.selection-5 {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: auto;
  max-width: 1110px;
  width: 100%;
  min-height: 609px;
}
.selection-5_text {
  display: flex;
  flex-direction: column;
}
.selection-5_image {
  display: flex;
}
